<% if @races.empty? %>
    <h1>Recent races</h1>
<% else %>
    <h1><%= @races.first.first.race_start.strftime("%A") %>'s races</h1>
<% end %>

<table class="table table-striped" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Race start</th>
            <% max_racers = @races.map(&:size).max %>
            <% max_racers.times do |i| %>
                <th>#<%= i+1 %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% day = nil %>
        <% @races.each do |race| %>
            <tr>
                <td class="date"><a href="/races/<%= race.first.race_id %>"><%= race.first.race_start.strftime("%l:%M%P") %></a></td>
                <% race.each do |racer| %>
                    <td class="nickname" title="<%= racer['nickname'] %>" data-racer="<%= racer['racer_id'] %>"><%= link_to racer['nickname'], "/racers/#{racer['racer_id']}", class: "racer-link best_#{racer['kart_type']}", style: "font-weight: normal;" %></td>
                <% end %>
                <% (max_racers - race.size).times do %>
                    <td class="nickname">&nbsp;</td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        $('.nickname').mouseleave(function(e) {
            $('.nickname a').attr("style", "font-weight: normal;");
        });
        $('.nickname').mouseenter(function(e) {
            var id = $(e.target).data('racer');

            if (id) {
                $('.nickname a').attr("style", "font-weight: normal;");
                $('.nickname[data-racer="'+id+'"] a').attr("style", "font-weight: bold;");
            }
        });
    });
</script>