  <h1>Race at <%= render_date(@race['starts_at']) %></h1>
  <h2>Lap times</h2>
  <table class="table table-condensed table-striped" style="table-layout: fixed;">
    <thead>
      <tr>
        <th>#</th>
        <% @racers.each_with_index do |racer, i| %>
          <th class="nickname <%= "best_#{racer['kart_type']}" %>"><%= racer["nickname"] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% max_laps = @racers.map { |racer| racer['laps'].size }.max %>
      <% (1...max_laps).each do |lap_index| %>
        <tr>
          <td><%= lap_index %></td>
          <% @racers.each_with_index do |racer, i| %>
            <% laps = racer["laps"] %>
            <% if lap_index < laps.size %>
              <% time = laps[lap_index]["lap_time"] %>
              <td class="<%= "best_#{racer['kart_type']}" if time == racer['best_time'] %>">
                <span><%= sprintf("%2.3f", time) %></span>
              </td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Average times</h2>
  <table class="table table-condensed table-striped" style="table-layout: fixed;">
    <thead>
      <tr>
        <th></th>
        <% @racers.each_with_index do |racer, i| %>
          <th class="nickname <%= "best_#{racer['kart_type']}" %>"><%= racer["nickname"] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <% @racers.each_with_index do |racer, i| %>
          <td class="<%= "best_#{racer['kart_type']}" if @best_averages[racer['kart_type']] == racer["average_time"] %>"><%= sprintf("%2.3f", racer["average_time"]) %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <h2>Personal best times</h2>
  <table class="table table-condensed table-striped" style="table-layout: fixed;">
    <thead>
      <tr>
        <th>Rank</th>
        <% @racers.each_with_index do |racer, i| %>
          <th class="nickname <%= "best_#{racer['kart_type']}" %>"><%= racer["nickname"] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% 3.times do |index| %>
        <tr>
          <td><%= (index+1).ordinalize %></td>
          <% @racers.each do |racer| %>
            <td class="<%= "best_#{racer['kart_type']}" if racer['best'] == racer['times'][index] %>">
              <% if index < racer['times'].size %>
                <%= sprintf("%2.3f", racer['times'][index]) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

