<h1><%= @racer.nickname %>
    <div class="dropdown" style="float:right;">
      <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Compare with
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <% previous_size = 10000 %>
        <% @coracers.sort { |a,b| a[1].size == b[1].size ? a[1].first.nickname.downcase <=> b[1].first.nickname.downcase : b[1].size <=> a[1].size }.each do |key, races| %>
            <% [1,5,10,20].each do |threshold| %>
                <% if races.size <= threshold && previous_size > threshold %>
                    <li role="presentation" class="dropdown-header">
                        <% if threshold == 1 %>
                            1 race together
                        <% else %>
                            <%= threshold %> or less races together</li>
                        <% end %>
                    <% break %>
                <% end %>
            <% end %>
            <% previous_size = races.size %>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= "/racers/#{@racer.racer_id}/vs/#{races.first.racer_id}" %>"><%= races.first.nickname %></a></li>
        <% end %>
      </ul>
    </div>
</h1>

<% @races_by_kart_type.each do |type, races| %>
    <h1>Kart type: <%= type %></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Best time</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% races.each_with_index do |race, i| %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= sprintf("%2.3f", race.best_time) %></td>
                    <td><a href="/races/<%= race.race_id %>"><%= race.race_start.strftime("%l:%M%P %a %b #{race.race_start.day.ordinalize} %Y") %></a></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
